# Ignore these files...
.DS_Store
.sfdx/*
testPush/*
jsconfig.json
EXFiles/*
.sf/orgs/00D7d000009bJr7EAE/*
.sf/orgs/00D7d000009bJr7EAE/*.json
.sf/orgs/00D7d000009bJr7EAE/localSourceTracking/*
.sf/orgs/00D7d000009bJr7EAE/localSourceTracking/refs/heads/*
